<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
        <defaultDocument>
            <files>
                <add value="home.aspx" />
            </files>
        </defaultDocument>

  </system.webServer>
  <appSettings>
    <add key="iPmisUrl" value="http://W2MES.dscsc.dragonsteel.com.tw/" />
    <add key="sPmisUrl" value="http://W3MES.dscsc.dragonsteel.com.tw/" />
    <add key="hPmisUrl" value="http://w4mes.dscsc.dragonsteel.com.tw/" />
  </appSettings>
  <connectionStrings>
    <add name="PMISConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=HPMIS;User ID=sa;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="HBMPMISConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=HBMPMIS;User ID=sa;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="Y6P2_MaterialsConnectionString" connectionString="Data Source=10.108.20.4;Initial Catalog=Y6P2_Materials;Persist Security Info=True;User ID=sa;Password=Y6P2!@#"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
  
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">

    </pages>
  </system.web>
</configuration>